   
.navigation-menu {
    margin-top: 20px;
    line-height: 2;
    font-weight: normal;
    padding-right: 50px;
    font-weight: normal;
    padding-right: 50px;

}
.navigation-menu p {
    margin: 0;
}
.navigation-menu h5 {
    margin: 1em 0;
}
.usefull-links{
    font-weight: normal;
    text-align: left;
    list-style: none;
    font-family: "ProximaNova-Regular",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0;
    padding-inline-start: 0;

}
.footer-wrapper {
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;    font-size: 14px;
    padding-left: 50px;

}
.footer-info{
    display: flex;
    justify-content: space-between;
}
.bigger-letter{
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
}