.footer-distributed {
	display: block;
	height: 100%;
	background: #666;
	text-align: justify;
	text-align: left;
	font: bold 16px sans-serif;
    padding: 55px 50px;

    .footer-left, 
    .footer-right, 
    .footer-center {
        display: inline-block;
        vertical-align: top;

        @media (max-width: 880px) {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .footer-company-name {
        color:  #222;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    .footer-left {
        width: 40%;
    }

    .footer-right {
        width: 20%;
    }

    .footer-company-about {
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
        
        span {
            display: block;
            color:  #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
    .footer-icons {
        margin-top: 25px;
        text-align: center;

        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color:  #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }
    }

    .footer-center {
        width: 35%;

        .footer-center--item {
            display: grid;
            grid-template-columns: 40% 60%;
        
            .grid-item--left {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 10px;
            }
            
            .grid-item--right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center ;
                margin-left: 10px;
            }
        }

        i {
            background-color:  #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
            margin-left: 0;
            
            &.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }


            @include respond-to(992) {
            
                margin-left: 15px;
            }
            
            // @media (max-width: 880px) {
            //     margin-left: 0;
            // }
        }
        
        p {
            display: inline-block;
            color: #ffffff;
            font-weight: 400;
            vertical-align: middle;
            margin: 0;

            span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            a {
                color:lightseagreen;
                text-decoration: none;
            }
        }
    }

    .footer-links {
        a:before {
            background-color:  #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }
        .link-1:before {
            content: none;
        }
    }

    h3 {
        color: #ffffff;
        font: normal 36px 'Open Sans', cursive;
        margin: 0;

        span {
            color: lightseagreen;
        }
    }

    .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;

        a {
            color: #222;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }
    }
}