* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: helvetica;
}

.product {
	padding: 8px;
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	@include respond-to(600) {
		width: 100%;
		flex-direction: row;
	}

	#productImages {
		height: 100%;
		width: 100%;
		background: {
			size: cover;
			position: center;
		}
		@include respond-to(600) {
			width: 70%;
		}
		@include respond-to(992) {
			height: 80%;
			width: 80%;
		}
	}

	.productInfo {
		width: 100%;
		height: initial;
		padding-top: 30px;
		display: flex;
		flex-direction: column;

		.title {
			font-size: 28px;
			margin-bottom: 10px;
			text-align: center;
		}

		@include respond-to(992) {
			width: 50%;
			max-width: 750px;
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 70px 50px 20px;
			margin: 0 auto;
		}

		.productId {
			margin-bottom: 40px;
			display: block;
			font-style: italic;
			color: #bbb;
		}

		.subProdInfo {
			margin-bottom: 40px;
			font-weight: normal;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;

			.price {
				font-size: 42px;
				margin-right: 20px;
			}
			.stock {
				margin-top: 20px;
				margin-bottom: 20px;
				font-size: 16px;
				font-style: italic;
				color: green;
			}
		}

		.description {
			display: flex;
			padding: 10px;
			color: #333;
			letter-spacing: 0.5px;
			margin-bottom: 20px;
		}

		label {
			font-weight: bold;
			margin-bottom: 15px;
			display: flex;
			letter-spacing: 0.2px;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			a {
				text-decoration: none;
				font-weight: normal;
				font-size: 12px;
				text-align: right;
			}
		}

		.addToCart {
			margin-bottom: 20px;
			margin-top: 15px;
			display: flex;
			align-items: center;

			.qntySection {
				display: flex;
				align-items: center;
				.btn {
					padding: 10px 15px;
					margin: 0 10px;
					transform: scale(1);
					transition: transform 0.2s ease-in-out;
					&:hover {
						cursor: pointer;
						transform: scale(1.3);
					}
				}
				span {
					font-size: 25px;
				}
			}

			.btn-add-to-cart {
				width: 100%;
				text-decoration: none;
				text-align: center;
				border: 1px solid black;
				padding: 12px 20px;
				background-color: green;
				color: white;
				letter-spacing: 1.1px;
				transition: 0.15s ease-in-out;

				&:hover {
					cursor: pointer;
					box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

				}
			}
		}
	}
}
