.cart-block {
    position: fixed;

    .cart-icon {
        &__representation {
            width: 24px;
            height: 22px;
            @include respond-to(992) {
                width: 30px;
                height: 26px;
            }
        }
    }

    .cart-content-count {
        margin-left: 20px;
    }

    .drop_down_card {
        height: 50%;
        display: none;
        z-index: 999;
        &.open {
            display: block;
        }
        padding: 15px;
        background-color: rgb(71, 70, 70);
        color: white;
        &__product-list {
            .drop_down_card__product {
                display: flex;
                flex-direction: row;
                align-items: center;
                &__image {
                    width: 190px;
                    margin-bottom: 10px;
                    margin-right: 10px;
                }
            }
            .drop_down_card__name {
                font-size: 30px;
            }
        }
        &__buttons {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;

            &_pay {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                background-color: green;
                margin-right: 20px;
                height: 30px;
            }
            &_cart {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                background-color: red;
                height: 30px;
            }
        }
    }

    .fa-stack[data-count]:after {
        position: absolute;
        right: 0%;
        top: 0%;
        content: attr(data-count);
        font-size: 40%;
        padding: 3px;
        color: white;
        text-align: center;
        min-width: 2em;
        font-weight: bold;
    }
    .fa-inverse {
        color: black;
    }
}

.products-section {
    padding: 35px;
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 60px;

    .product-card {
        margin-top: 70px;
        padding: 20px;
        border-radius: 20px;
        background-color: whitesmoke;
        grid-column-start: span 1;
        display: grid;
        grid-template-rows: 240px auto auto;
        grid-gap: 16px;

        &_images {
            text-align: center;
            width: 70%;
            object-fit: fill;
            border-radius: 3px;
            margin-left: 50px;
        }

        &-footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 35px;
            .button-wrapper {
                .add-to-cart-button{
                    cursor: pointer;
                }
            }
            .prices {
                display: flex;
                align-items: center;

                .price {
                    padding: 2px;
                    font-size: 30px;
                }
                .currency {
                    font-size: 20px;
                    height: 17px;
                }
            }
        }

        .product-category {
            color: #333;
            font-size: 12px;
            font-weight: bold;
        }
        .product-name {
            color: #333;
            font-size: 18px;
            font-weight: 600;
            margin: 8px 0;
        }

        .product-description {
            color: #333;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
            line-height: 1.3rem;
        }
    }
}
